/* CategoryList.css */
.category-list-container {
  background: linear-gradient(135deg, rgb(187, 171, 230) 7%, #e9ecef);

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.category-list-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.category-list-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.category-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.category-list-card {
  background-color: #f8f8f8;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-list-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.category-list-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.category-list-desc {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #555;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.category-list-button {
  padding: 0.9rem 1.5rem;
  background-color: #dd778d;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-list-button:hover {
  background-color: #856dcb;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}