/* ProductCategoryWise.css */
.product-container {
  margin-top: 0px;
}

.product-title {
  color: #3f51b5;
}

.category-info {
  color: #4caf50;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  flex: 0 0 calc(33.333% - 20px); /* Three cards per row */
  margin-bottom: 20px;
}

.product-card-content {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.product-name {
  color: #f44336;
}

.product-details {
  list-style: none;
  padding: 0;
}

.product-detail {
  margin-bottom: 10px;
}

.product-price {
  color: #ff9800;
}

.product-quantity {
  color: #ffeb3b;
}

.product-category-id {
  color: #607d8b;
}

.details-link {
  background-color: #795548;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
