/* SearchProducts.css */

.search-products-container {
    margin: 20px;
  }
  
  .search-products-select {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .search-products-input {
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .search-products-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-products-list {
    list-style: none;
    padding: 0;
  }
  
  .search-products-item {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2; /* Grey background color for each product */
  }
  
  .search-products-name {
    font-size: 18px; /* Big text for the product name */
    font-weight: bold;
  }
  
  .search-products-view-button {
    padding: 6px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-products-view-button:hover {
    background-color: #218838;
  }
  